<!DOCTYPE html>
<html>
  <head>
    {% include "basehead.html" %}
    {% block head %}
    <meta name="description" content="base content"/>
    {% endblock %}
    {% block defaultStyles %}
    <link rel="stylesheet" href="/css/global.css" />
    {% endblock %}
    {% block customStyles %}
    {% endblock %}
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <a href="/" style="float:left" title="Velox Mundi Home">
        <img src="/assets/images/favicon.png" height="60px"/>
      </a>
    </header>
    <div id="content">
      <div style="text-align: center; margin: auto 15px 15px 15px">
        <h1>{{title}}</h1>
      </div>
      {{ content | safe }}
    </div>
    <footer>
      <a href="/contact">Contact us</a>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </footer>
  </body>
</html>