@import url('./reset.css');

body {
  font-style: normal;
  line-height: 1.35;
  font-weight: 400;
  /*
  background-color: rgb(0,0,0);
  color: rgb( 64, 176, 191);
  */
  
  /*
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  */
  scroll-behavior: auto;  
}

html, body {
  height: 100%;
  margin: 0px;
}
body {
  height:95%;
  /*
  box-shadow: 0 10px 150px rgba(0,0,0,1);border: 10px solid #000000;
  border-width: 10px 10px 10px 10px;*/

  /*
  background-image: linear-gradient(to top, black, black, black, ghostwhite 250px);
  background-repeat:no-repeat;
  */
  /*padding: 70px 0px 120px 0px;*/
  background-color: #000000;
}


#content {
  /*padding: 0px 15px 0px 15px;*/
  margin: 0 auto;
  padding: 10px;
  border: #000000 10px solid;
  border-top-width: 0;
  height: 100%;
  overflow-y: auto;
  border-radius: 28px;
  margin-bottom: 150px;

}

body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

#content, #title, header, footer {  
  background-color: ghostwhite;
}
#title {
  margin: 0px 0px;
  min-height: 3em;
}

#title {
  width: 100%;
  max-width: 915px;
  margin-right: 15px;
  text-align: center;
}

p {
  padding-bottom: 0.5em;
}

.block__pageCenter {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-width: 300px; 
  height: auto;
  padding: 0;
}

a {
  color: rgb(54, 146, 159);
}

a:hover {
  color: rgb(203, 203, 203);
}

a:visited {
  color: rgb(19, 69, 75);
}

header a, header a:visited, footer a, footer a:visited {
  color: rgb( 64, 176, 191);
}

h1, h2, h3, h4, h5 {
  color: rgb(0, 0, 0,);
  font-family: sans-serif;
}

.home-card__container {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
}

.card__text, .card__text a, .card__text a:visited {
  color:rgb(255, 255, 255) !important;
}

.card__container {
  background-color:rgb(50, 139, 150);
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 125px;
  padding: 0;
  border-radius: 0.5rem;
  text-decoration: none;  
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
}

.card__containerRaised {
  
}
.card__container:hover {
  background-color:rgb( 64, 176, 191);
  color: white;
}

.card__title, .card__text {
  text-align: center;
}

footer {
  margin-top: 15px;
  border-top:2px solid rgb(255, 255, 255);
  text-align: center;
  display: flex;
  bottom: 0;
  height: 150px;
  background-color: rgba(0, 0, 0, .82);
  background-image: url("/assets/images/sunrise.png");
  background-repeat: no-repeat;
  background-attachment: center;
  background-position-x: center;
  background-position-y: bottom;
  left: 0;
  right: 0;
  bottom: 10px;
  max-width: 940px !important;
  width: 940px !important;

}

footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 1.5em;
  margin: 10px auto;
}

header, footer{
  background-color: ghostwhite;
  position: fixed;     
  margin: 0 auto;
  color: #000000;
  width: 100%;
  max-width: 915px;
}
header{
  background-color: ghostwhite;
  top:0;
  padding-top: 15px;
  border-bottom: 1px solid #000000;
}

#main {
  margin-top: 75px;
  margin-bottom: 150px;
  width: 100%;
  max-width: 915px;
}

.navbar-logo, .navbar-caption-wrap {
  display: flex;
}

hr {
  border: 0px;
  border-top: 1px solid rgba( 64, 176, 191, .4);
  height: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
}

blockquote {
  margin-left:1em;
  margin-right:4em;
  font-weight: 400;
  font-size: .8em;
  color: rgba(80,80,80,.8);
  text-align: justify;
  text-justify: inter-word;
}